html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: "Lora", sans-serif;
	vertical-align: baseline;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 50%;
    background-image: cover;
    margin-bottom: 1rem;
    background-image: linear-gradient(150deg, #5973b9 30%, #ffffff 55%);
}

footer {
    background-color: #5973b9;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.header-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-img img {
    /* position: absolute; */
    object-fit: cover;
    display: block;
    max-width: 400px;
    max-height: 400px;
    /* opacity: 25%; */
}

h1 {
    font-size: 3rem;
}

.header-img h3 {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    align-self: center;
    bottom: 0;
}

.header-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3.5rem;
    margin: .41rem 0 0;
}

.header-bio p {
    width: 85%;
    margin: .41rem;
}

.contact-icons {
    display: flex;
}

.icon {
    width: 50px;
    font-size: 50px;
}

.small-icon {
    width: 25px;
    font-size: 25px;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    gap: 2rem;
    margin: 1rem;
}

.card {
width: 75%;
margin: .41rem 0;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
border-radius: 5px;
overflow: hidden;   
}

.project-image {
    height: 150px;
    width: 100%;
}

.project-bio {
    width: 100%;
    padding: .41rem;   
}

.project-bio p {
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;       /* Change this number to your desired line count */
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-icons .icon {
    width: 25px;
    font-size: 25px;
}

.card h3 {
    margin: .41rem 0;
}

footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
}

.contact-info-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer h2 {
    text-align: center;
}

.contact-info > p {
    /* margin-bottom: 1rem; */
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.phone-email {
    display: flex;
    align-items: center;
}

.contact-info-container .contact-icons {
    align-self: center;
    color: black;
}

.footer-img {
    height: 100%;
}

.footer-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        min-height: 567px;
    }

    .header-content {
        display: block;
        justify-self: center;
        background-color: white;
        max-height: 500px;
        width: 60%;
        min-height: 300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .header-img {
        justify-content: flex-start;
        float: left;
        box-sizing: border-box;
        width: fit-content;
        margin-left: -50px;
        margin-top: -50px;
        margin-right: .5rem;
        display: flex;
        position: relative;
        /* left: -100px; */
        /* margin: 0 -5rem -3rem 0; */
    }

    .header-img img {
        max-width: 400px;
        max-height: 350px;
        /* object-fit: contain; */
        /* opacity: 0; */
    }

    .header-img h3 {
        position: absolute;
        left: 100px;
        top: -300px;
        min-width: 300px;
        text-align: center;
        font-size: 3rem;

    }

    .header-bio {
        /* max-height: 400px; */
        display: inline;
        margin: 0;
        padding: 0;
        /* width: 600px; */
        overflow: hidden;
        
    }

    .header-bio h2 {
        text-align: center;
    }

    .header-bio p {
        width: 90%;
        justify-self: center;
        font-size: clamp(1rem, 2vw, 1.75rem);
    }

    .header-bio .contact-icons {
        justify-self: end;
        align-self: flex-end;
        margin: -.5rem 0 0;
    }

    section {
        width: 85%;
        justify-content: center;
        align-items: center;
    }

    .section-title {
        align-self: flex-start;
    }

    .card-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }

    footer {
        flex-direction: row;
        gap: 1rem;

    }

    .contact-info-container {
        width: 50%;
    }

    footer h2 {
        text-align: start;
    }

    .contact-info-container .contact-icons {
        align-self: flex-start
    }

    .footer-img {
        width: 50%;
        align-self: center;
    }
}

@media (min-width: 1024px) {
    header {
        background-image: linear-gradient(170deg, #5973b9 40%, #ffffff 50%);
    }

    .header-content {
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .header-img {
        justify-content: flex-start;
        float: left;
        box-sizing: border-box;
        width: fit-content;
        /* margin-left: -50px; */
        margin: 0 .5rem 0 0;
        /* margin-right: .5rem; */
        display: flex;
        position: relative;
        /* left: -100px; */
        /* margin: 0 -5rem -3rem 0; */
    }

    .header-img img {
        
        max-height: 550px;
        /* object-fit: contain; */
        /* opacity: 0; */
    }

    .header-img h3 {
        position: absolute;
        bottom: 0;
        margin: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-bio {
        padding: 1rem;
    }
    .header-bio h2 {
        justify-self: left;
    }

    .header-bio p {
        width: 100%;
    }

    .card-container {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        justify-content: space-between;
    }

    .card {
        min-width: 25%;
        max-width: 85%;
    }
}